In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [3]:
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [4]:
df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [7]:
pd.merge(df1,df2,on='value',how='outer')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7